#cardsContainer{
    display: flex;
}

.weatherCard{
    border: 2px red solid;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherCard span {
    text-align: center;
}
